body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 8px #ddd;
    background-color: #9ffce1;
    text-decoration: none;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    text-decoration: none;
}

.nav-items {
    display: flex;
    padding: 0 1.5rem;
    text-decoration: none;
}

.nav-links{
text-decoration: none;
}

#three>div.image {
    width: 100%;
}

#two{
    padding: 10rem;
    background-color: pink
}